{% extends "base.html"%}

{% block content %}
<h1>Add a new post</h1>

<form class='add_post' action='/add_post' method='POST'>
    <label>
        Title
        <input type='text' name='post-title' />
    </label>
    <label>
        Body
        <textarea name='post-body'></textarea>
    </label>
    <label>
        Category
        <select name='post-category'>
            {% for category in categories %}
                <option value='{{ category.name }}'>{{ category.name }}</option>
            {% endfor %}
        </select>
    <button type='submit'>Add Post</button>
</form>
{% endblock %}